.flip-card {
  position: relative;

  font-size: 0.75em;
  color: #de4848;
  border-radius: 0.1em;
  box-shadow: 0 0.02em 0.2em rgba(0, 0, 0, 0.2);

  display: inline-flex;
  flex-direction: column;
}

.flip-card > .top,
.flip-card > .bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  width: 1.75em;
  height: 0.75em;
  padding: 0.25em;
  line-height: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  perspective: 0.75em;
}

.top,
.flip-card .top-flip {
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  background-color: white;

  align-items: flex-end;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in forwards;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  /* z-index: 1; */
  bottom: 0;
  position: absolute;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms forwards;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}
